@use '../../lib/service.scss' as s;

.form {
  display: flex;
  flex-direction: column;
  padding: s.space(4);
  gap: s.space(8);
  min-width: 50%;

  &__title {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: s.space(1);
    border-bottom: 1px solid s.color('ligth');
  }
  &__content {
    display: grid;
    justify-content: start;
    gap: s.space(6);
  }
  &__field {
    display: flex;
    flex-direction: column;
    gap: s.space(2);
  }
  &__label {
    font-size: 14px;
  }
  &__input {
    border: 1px solid s.color('ligth');
    padding: s.space(2);
    border-radius: 5px;
  }
  &__button {
    border: 1px solid s.color('ligth');
    padding: s.space(2);
    border-radius: 20px;
    background-color: s.color('ligth');
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: s.space(10);
}

.user-list {
  li {
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.product {
  margin: s.space(10);
  padding: s.space(10);
  border: 1px solid s.color('ligth');
  border-radius: 10px;

  &__form {
    margin: s.space(50);
  }
}

.header {
  display: flex;
  padding: s.space(5);
  background-color: s.color('ligth');
  border-radius: 5px;
  &__button {
    @include s.click;
    text-decoration: none;
    color: s.color('hite');
    background-color: s.color('primary');
    padding: s.space(2);
    border-radius: 5px;
  }
}

.forms {
  display: flex;
  gap: s.space(5);
}
