@use '../../lib/service.scss' as s;

main {
  display: flex;
  flex-direction: column;
  gap: s.space(10);
  width: 600px;
  margin: 60px auto;
}

.form {
  display: flex;
  flex-direction: column;
  padding: s.space(4);
  gap: s.space(8);

  width: 100%;

  border: 1px solid s.color('ligth');
  border-radius: 5px;

  &__title {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: s.space(1);
    border-bottom: 1px solid s.color('ligth');
  }
  &__content {
    display: grid;
    justify-content: start;
    gap: s.space(6);
  }
  &__field {
    display: flex;
    flex-direction: column;
    gap: s.space(2);
  }
  &__label {
    font-size: 14px;
  }
  &__input {
    border: 1px solid s.color('ligth');
    padding: s.space(2);
    border-radius: 5px;
  }
  &__button {
    @include s.click;
    border: 1px solid s.color('ligth');
    padding: s.space(2);
    border-radius: 5px;
    background-color: s.color('primary');
    color: #fff;
  }

  &__img {
    border-radius: 5px;
  }
}

.user-list {
  display: flex;
  flex-direction: column;
  gap: s.space(2);

  &__item {
    display: grid;
    grid-template-columns: 1fr 50px;
    gap: s.space(2);
    border: 1px solid s.color('ligth');
    border-radius: 5px;
    padding: s.space(4);
  }
  &__id-button {
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr;
    @include s.click;
    text-decoration: none;
  }

  &__del-button {
    @include s.click;
    text-decoration: none;
    color: red;
  }
  &__part {
    word-wrap: break-word;
  }
}

.forms {
  display: flex;
  gap: s.space(5);
  justify-content: space-around;
}
